@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url("./assets/Lobster-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url("./assets/Poppins-Variable.otf") format("opentype");
}
